<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Netfrix</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <nav class="navbar bg-danger fixed-top">
      <a
        href="#"
        class="pe-auto fw-bold text-black"
        onclick="goToLoc('/menu/<tipo>/<mensagem>')"
        >MENU</a
      >
    </nav>
    <div
      class="d-flex justify-content-center align-items-center bg-dark min-vh-100"
    >
      <div class="w-50">
        <div class="column is-half m-5">  

          {% if tabela != [] %}
          <div class="row">
            <table class="bg-danger-subtle">
              <tr class="bg-danger">
                {% for head in header %}
                <th>{{ head }}</th>
                {% endfor %}
              </tr>
                {% for linha in tabela%}
                <tr>
                {% for celula in linha%}
                <td>{{ celula }}</td>
                {% endfor%}
                </tr>
                {% endfor %}
            </table>
            <hr>
          </div>
          {% endif %}
      </div>

          <form method="POST">
            <input value="1" name="escolha" hidden />
            <!-- Consulta 1 -->
            <div class="row my-5"></div>
              <div class="row">
                <button class="btn btn-danger btn-block m-4">
                  Nome dos planos com contas com mais de 3 usuarios
                </button>
              </div>
            <!-- Consulta 2 -->
          </form>

          <form method="POST">
            <input value="2" name="escolha" hidden />
            <div class="row">
              <button class="btn btn-danger btn-block m-4">
                Quantidade de titulos com atores que ganharam Oscar por
                categoria
              </button>
            </div>
          </form>


    
          <!-- Consulta 3 -->
          <form method="POST">
            <input value="3" name="escolha" hidden />
            <div class="row">
              <button class="btn btn-danger btn-block m-4">
                Atualizar o status de pagamento de subscriptions que tem plano
                premium e cartao visa
              </button>
            </div>
          </form>

          <!-- Consulta 4 -->
          <form method="POST">
            <input value="4" name="escolha" hidden />
            <div class="row">
              <button class="btn btn-danger btn-block m-4">
                Remove as visualizações de todos os usuários de uma conta com
                pagamento atrasado e plano premium
              </button>
            </div>
          </form>
          
          <!-- Consulta 5 -->
          <form method="POST">
            <input value="5" name="escolha" hidden />
            <div class="row">
              <button class="btn btn-danger btn-block m-4">
                Os usuários que ja assistiram a titulos com nota igual ou menor
                a 6
              </button>
            </div>  
          </form>

          <!-- Consulta 6 -->
          <form method="POST">
            <input value="6" name="escolha" hidden />
            <div class="row">
              <button class="btn btn-danger btn-block m-4">
                Quantidade de visualizações e nome dos conteúdos assistidos por
                contas básicas
              </button>
            </div>
          </form>
          
          <!-- Consulta 7 -->
          <form method="POST">
            <input value="7" name="escolha" hidden />
            <div class="row">
              <button class="btn btn-danger btn-block m-4">
                Contas basicas que estão com o pagamento atrasado
              </button>
            </div> 
          </form>
           
          <!-- Consulta 8 -->
          <form method="POST">
            <input value="8" name="escolha" hidden />
            <div class="row">
              <button class="btn btn-danger btn-block m-4">
                As categorias que tom hanks ja atuou em
              </button>
            </div>  
          </form>
        
    </div>
  </body>
  <script src="/static/script.js"></script>
</html>
